<div class="row">
    <div class="col-md-4" *ngFor="let mov of movies"
         [class.selected]="mov === selectedMovie"
         (click)="onSelect(mov)">
      <div class="card"
           style="width: 18rem;">
        <img class="card-img-top" src="https://placeimg.com/380/230/nature" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">{{mov.name}}</h3>
          <div class="card-text">
              <div><span>Year: </span>{{mov.year}}</div>
              <div><span>Gender: </span>{{mov.gender}}</div>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsMovie">View Details</button>
        </div>
      </div>
    </div>
</div>

<app-movie-details [movie]="selectedMovie"></app-movie-details>

