<div class="row mt-30">
    <div class="col-md-4 col-sm-6" *ngFor="let mov of movies"
         [class.selected]="mov === selectedMovie"
         (click)="onSelect(mov)">
      <div class="card mb-4 box3">
        <img class="card-img-top" src="https://placeimg.com/640/480/nature" alt="Card image cap">
        <h3 class="title" align="center">{{mov.name}}</h3>
        <div class="box-content">
          <h3 class="title">{{mov.name}}</h3>
          <ul class="icon">
            <div class="description"><span>Year: </span>{{mov.year}}</div>
            <div class="description"><span>Gender: </span>{{mov.gender}}</div>
            <div class="description"><span>Disc: </span>1</div>
          </ul>
          <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#detailsMovie">View Details</button>
        </div>
      </div>
    </div>
</div>

<app-movie-details [movie]="selectedMovie"></app-movie-details>

